@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
}

@layer utilities {
  .scrollbar-minimal {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--tw-scrollbar-thumb) var(--tw-scrollbar-track);
  }

  .scrollbar-minimal::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar */
    height: 8px; /* For horizontal scrollbars */
  }

  /* Custom track color */
  .scrollbar-minimal::-webkit-scrollbar-track {
    background-color: var(--tw-scrollbar-track); /* Track color from variable */
  }

  /* Custom thumb color */
  .scrollbar-minimal::-webkit-scrollbar-thumb {
    background-color: var(--tw-scrollbar-thumb); /* Thumb color from variable */
    border-radius: 4px; /* Rounded corners for thumb */
  }

  /* Light mode colors: white track, gray thumb */
  .light .scrollbar-minimal {
    --tw-scrollbar-track: #ffffff; /* White track */
    --tw-scrollbar-thumb: #bbb; /* Light gray thumb */
  }

  /* Dark mode colors: black track, dark gray thumb */
  .dark .scrollbar-minimal {
    --tw-scrollbar-track: theme('colors.gray.900'); /* Black track */
    --tw-scrollbar-thumb: #555; /* Dark gray thumb */
  }

  /* Dark mode colors for modals: black track */
  .dark .scrollbar-minimal.modal {
    --tw-scrollbar-track: theme('colors.gray.800') !important; /* Black track */
  }
}
